// Gel Website Custom Styles
// These styles will be global, and supplemented
// or overridden with styled-components where applicable


// Table of Contents
// 1. Global Styles
// 2. Header


// 1. GLOBAL STYLES *********************

// @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|IBM+Plex+Serif:400,500");

@font-face
  font-family: 'HKGrotesk-Regular'
  src: url('../../../static/fonts/HKGrotesk-Regular.woff') format('woff'), url('../../../static/fonts/HKGrotesk-Regular.woff2') format('woff2')
@font-face
  font-family: 'QuincyCF-Regular'
  src: url('../../../static/fonts/QuincyCF-Regular.woff') format('woff'), url('../../../static/fonts/QuincyCF-Regular.woff') format('woff2')
@font-face
  font-family: 'QuincyCF-Bold'
  src: url('../../../static/fonts/QuincyCF-Bold.woff') format('woff'), url('../../../static/fonts/QuincyCF-Bold.woff') format('woff2')


$sansFont: 'HKGrotesk-Regular'
$serifFont: 'QuincyCF-Regular'
$serifFontBold: 'QuincyCF-Bold'

html
  font-size: 10px
  box-sizing: border-box


body
  padding: 0
  margin: 0
  font-size: 1.8rem
  line-height: 1.5
  font-family: $sansFont
  color: #434244

main > article.section
  padding: 0

h1
  font-family: $serifFont
  font-weight: 700
  font-size: 12.5rem
  color: #F36A4A
  margin-bottom: 0
  text-align: center
  
h1.siteTitle
    font-family: $serifFontBold
    font-weight: 800
h2
  font-family: $sansFont
  font-weight: 700
  font-size: 4.5rem
h2 span
  font-family: $serifFont

.outlined
  font-family: $serifFont
  font-weight: 600
  font-size: 6.5rem
  color:#fff
  float: left
  text-shadow: 1px 0 0 #F36A4A, -1px 0 0 #F36A4A, 0 1px 0 #F36A4A, 0 -1px 0 #F36A4A, 1px 1px #F36A4A, -1px -1px 0 #F36A4A, 1px -1px 0 #F36A4A, -1px 1px 0 #F36A4A
  @media (max-width: 768px)
    font-size: 4rem

#gel-home-intro-logo-section
  padding-bottom: 0

#gel-home-intro-logo-section h2.outlined
  font-size: 4rem
  float: none
  margin-left: -100px
  margin-bottom: -7.85rem
  text-align: center  

.gel-homepage-featured 
  clear: left
  
*, *::before, *::after
  box-sizing: inherit


a
  color: #f26339
  font-weight: 700
  transition: 300ms


a:hover
  text-decoration: underline

section
  padding-bottom: 30px
  padding-top: 0


.visually-hidden
  position: absolute !important
  clip: rect(1px 1px 1px 1px)
  clip: rect(1px, 1px, 1px, 1px)
  padding:0 !important
  border:0 !important
  height: 1px !important
  width: 1px !important
  overflow: hidden

@media (max-width: 768px)

  .push
    display: table-footer-group !important

  .pull
    display: table-header-group !important


// ***************** end 1. global styles

/* About Page */

.gel-bio-row .column
    padding: 0

// BUTTONS

.button
  padding: 8px 30px
  background-color: #E77252
  transition: 300ms ease-in-out
  border-radius: 6px;
  height: unset

.button a
  font-weight: normal

.button a:hover
  text-decoration: none

.gel-button-1
  border: none
  border-radius: 0

.gel-button-1.is-dark
  background-color: #434345
  color: #fff

.gel-button-1.is-dark:hover
  text-decoration: none
  background-color: #dde2e3
  color: #434345
  border: none

.gel-button-1.is-light:hover
  color: #ffffff
  background-color: #e9724c

.gel-button-2
  border: none
  color: #ffffff
  font-size: 1.8rem
  font-weight: normal
  
.gel-button-2:hover
  color: #ffffff !important
  text-decoration: none
  background-color: #9D4223 !important

.button.gel-button-bigger
  font-size: 2rem



// buttons

// ANIMATIONS

@keyframes gelHeaderLogo
  0%
    transform: scale(1)
  50%
    transform: scale(1.2)
  100%
    transform: scale(1)

@keyframes gelLetterScale
  0%
    transform: scale(1) rotate(0deg)

  25%
    transform: scale(0) rotate(0deg)

  50%
    transform: scale(2) rotate(-15deg)

  100%
    transform: scale(1)

@keyframes gelHoverColorsOld
  0%
    fill: #434345
  25%
    fill: #dde2e3
  50%
    fill: #ffc557
  75%
    fill: #e77252
  100%
    fill: #394f60

@keyframes gelHoverColors
  0%
    fill: #363636
  100%
    fill: #e77252

// end animations

#gel-home-masthead-logo 
  height: 0
  overflow: hidden
  opacity: 0 
  animation: cssFade 5s, cssAnimation 8s
  animation-delay: 0s

@keyframes cssAnimation 
    0%
        height: 100vh
        overflow: visible
    50%
        height: 100vh
        overflow: visible
    60%
        height: 100vh
        overflow: visible
    100% 
        height: 0
        overflow: hidden

@keyframes cssFade 
    0%
        opacity: 1
    50% 
        opacity: 1
    100% 
        opacity: 0