// Gel Website Custom Styles
// These styles will be global, and supplemented
// or overridden with styled-components where applicable


// Table of Contents
// 1. Global Styles
// 2. Header


// 1. GLOBAL STYLES *********************

// @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|IBM+Plex+Serif:400,500");

@font-face
  font-family: 'HKGrotesk-Regular'
  src: url('../../../static/fonts/HKGrotesk-Regular.otf') format('otf')
@font-face
  font-family: 'QuincyCF-Regular'
  src: url('../../../static/fonts/QuincyCF-Regular.otf') format('otf')


$sansFont: 'HKGrotesk-Regular'
$serifFont: 'QuincyCF-Regular'

html
  font-size: 10px
  box-sizing: border-box


body
  padding: 0
  margin: 0
  font-size: 1.8rem
  line-height: 1.5
  font-family: $sansFont
  color: #434244


h2
  font-family: $serifFont
  font-weight: 700
  font-size: 6rem
  color:#fff
  margin-left: 100px
  float: left
  text-shadow: 1px 0 0 #F36A4A, -1px 0 0 #F36A4A, 0 1px 0 #F36A4A, 0 -1px 0 #F36A4A, 1px 1px #F36A4A, -1px -1px 0 #F36A4A, 1px -1px 0 #F36A4A, -1px 1px 0 #F36A4A

*, *::before, *::after
  box-sizing: inherit


a
  color: #434244
  transition: 300ms


a:hover
  color: #f26339
  text-decoration: underline

section
  padding-bottom: 50px
  padding-top: 25px


.visually-hidden
  position: absolute !important
  clip: rect(1px 1px 1px 1px)
  clip: rect(1px, 1px, 1px, 1px)
  padding:0 !important
  border:0 !important
  height: 1px !important
  width: 1px !important
  overflow: hidden

@media (max-width: 768px)

  .push
    display: table-footer-group !important

  .pull
    display: table-header-group !important


// ***************** end 1. global styles

/* About Page */

.gel-bio-row .column
    padding: 0

// BUTTONS

.button
  text-transform: uppercase
  padding: 0.5em 5%
  transition: 300ms ease-in-out
  height: unset

.gel-button-1
  border: none
  border-radius: 0

.gel-button-1.is-dark
  background-color: #434345
  color: #fff

.gel-button-1.is-dark:hover
  text-decoration: none
  background-color: #dde2e3
  color: #434345
  border: none

.gel-button-1.is-light:hover
  color: #ffffff
  background-color: #e9724c

.button.gel-button-bigger
  font-size: 2rem



// buttons

// ANIMATIONS

@keyframes gelHeaderLogo
  0%
    transform: scale(1)
  50%
    transform: scale(1.2)
  100%
    transform: scale(1)

@keyframes gelLetterScale
  0%
    transform: scale(1) rotate(0deg)

  25%
    transform: scale(0) rotate(0deg)

  50%
    transform: scale(2) rotate(-15deg)

  100%
    transform: scale(1)

@keyframes gelHoverColors
  0%
    fill: #434345
  25%
    fill: #dde2e3
  50%
    fill: #ffc557
  75%
    fill: #e77252
  100%
    fill: #394f60

// end animations
