// Gel Website Custom Styles
// These styles will be global, and supplemented
// or overridden with styled-components where applicable


// Table of Contents
// 1. Global Styles
// 2. Header


// 1. GLOBAL STYLES *********************

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|IBM+Plex+Serif:400,500");

$sansFont: 'IBM Plex Sans'
$serifFont: 'IBM Plex Serif'

html 
  font-size: 10px
  box-sizing: border-box


body 
  padding: 0
  margin: 0
  font-size: 1.8rem
  line-height: 2
  font-family: $sansFont
  color: #434244


h2 
  font-family: $sansFont
  font-weight: 700
  font-size: 2.5rem


*, *::before, *::after 
  box-sizing: inherit


a 
  color: #434244
  transition: 300ms


a:hover 
  color: #f26339
  text-decoration: underline


.visually-hidden 
  position: absolute !important
  clip: rect(1px 1px 1px 1px)
  clip: rect(1px, 1px, 1px, 1px)
  padding:0 !important
  border:0 !important
  height: 1px !important
  width: 1px !important 
  overflow: hidden

// ***************** end 1. global styles

/* About Page */

.gel-bio-row .column
    padding: 0

// BUTTONS

.button
  text-transform: uppercase
  padding: 0.5em 5%
  transition: 300ms ease-in-out

.gel-button-1
  border: none
  border-radius: 0

.gel-button-1.is-dark 
  background-color: #434345
  color: #fff

.gel-button-1.is-dark:hover
  text-decoration: none
  background-color: #ffffff
  color: #434345
  border: 1px solid #434345

.gel-button-1.is-light:hover
  color: #ffffff
  background-color: #e9724c

.button.gel-button-bigger
  font-size: 2rem

// buttons

// ANIMATIONS

@keyframes gelHeaderLogo
  0%
      transform: scale(1)
  50%
      transform: scale(1.2)
  100%
      transform: scale(1)

@keyframes gelLetterScale 
  0% 
      transform: scale(1) rotate(0deg)
  
  25% 
      transform: scale(0) rotate(0deg)
  
  50% 
      transform: scale(2) rotate(-15deg)
  
  100% 
      transform: scale(1)
    
@keyframes gelHoverColors
  0%
      fill: #434345
  50%
      fill: #dde2e3
  100%
      fill: #e9724c

// end animations
